## 文本格式数据的读写

pandas的解析函数：
- read_csv
- read_table
- ...

In [47]:
import pandas as pd
import numpy as np

In [48]:
df = pd.read_csv('examples/ex1.csv')
print(df) #用read_csv()读取csv文件
print(pd.read_table('examples/ex1.csv', sep=',')) #用read_table()读取csv文件，并指定分隔符
print(pd.read_csv('examples/ex2.csv', header=None)) #没有列名时，header=None
print(pd.read_csv('examples/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])) #指定列名
names = ['a', 'b', 'c', 'd', 'message']
print(pd.read_csv('examples/ex2.csv', names=names, index_col='message')) #指定列名，并将message列作为索引

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [49]:
parsed = pd.read_csv('examples/csv_mindex.csv', index_col=['key1', 'key2'])
print(parsed) #指定多列作为索引
print(list(open('examples/ex3.txt'))) #逐行读取文本文件
result = pd.read_table('examples/ex3.txt', sep='\s+') #用正则表达式作为分隔符读取文本文件，\s+表示多个空格
print(result)

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16
['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']
            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_1860/1436999290.py:4: SyntaxWarning: invalid escape sequence '\s'
  result = pd.read_table('examples/ex3.txt', sep='\s+') #用正则表达式作为分隔符读取文本文件，\s+表示多个空格

In [50]:
print(pd.read_csv('examples/ex4.csv', skiprows=[0, 2, 3])) #跳过指定行读取csv文件
results = pd.read_csv('examples/ex5.csv')
print(results)
print(results.isnull()) #检查缺失值
results = pd.read_csv('examples/ex5.csv', na_values=['NULL']) #将指定值识别为NaN
print(results)
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
print(pd.read_csv('examples/ex5.csv', na_values=sentinels)) #为不同列指定不同的缺失值标记

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False
  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### 分块读入文本文件

In [51]:
pd.options.display.max_rows = 10 #设置显示的最大行数
result = pd.read_csv('examples/ex6.csv')
print(result)
print(pd.read_csv('examples/ex6.csv', nrows=5)) #只读取前5行

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]
        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [52]:
chunks = pd.read_csv('examples/ex6.csv', chunksize=1000) #分块读取大文件，每次读取1000行
print(chunks) #返回一个TextFileReader对象，可以迭代
chuner = pd.read_csv('examples/ex6.csv', chunksize=1000)
tot = pd.Series([])
for piece in chuner:
	tot = tot.add(piece['key'].value_counts(), fill_value=0) #统计每个块中key列的值的出现次数，并累加

tot = tot.sort_values(ascending=False) #按出现次数排序
print(tot[:10]) #显示出现次数最多的前10个值

<pandas.io.parsers.readers.TextFileReader object at 0x7f79e9b141a0>
key
E    368
X    364
L    346
O    343
Q    340
M    338
J    337
F    335
K    334
H    330
dtype: object

### 将数据写入文本格式

In [53]:
data = pd.read_csv('examples/ex5.csv')
print(data)
data.to_csv('examples/out.csv') #将DataFrame写入csv格式的字符串文件
import sys
data.to_csv(sys.stdout, sep='|') #将DataFrame写入csv格式的文件，指定分隔符
data.to_csv(sys.stdout, na_rep='NULL') #将NaN值写为指定字符串
data.to_csv(sys.stdout, index=False, header=False) #不写入行索引和列名
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c']) #只写入指定的列
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
print(ts)
ts.to_csv('examples/tseries.csv') #将时间序列写入csv文件

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo
,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo
one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo
a,b,c
1,2,3.0
5,6,
9,10,11.0
2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int64

### 使用分隔格式

In [54]:
import csv
f = open('examples/ex7.csv')
reader = csv.reader(f) #使用csv模块读取csv文件
for line in reader:
	print(line)
with open('examples/ex7.csv') as f:
	lines = list(csv.reader(f)) #将csv文件读取为列表
header, values = lines[0], lines[1:] #分离表头和数据
data_dict = {h: v for h, v in zip(header, zip(*values))} #将数据转换为字典
print(data_dict)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']
{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

### JSON数据

In [55]:
obj = """
{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pet": "Zuko"}, {"name": "Katie", "age": 38, "pet": "Cisco"}]}
"""
import json
result = json.loads(obj) #将JSON字符串解析为Python字典
print(result)
asjson = json.dumps(result) #将Python字典转换为JSON字符串
print(asjson)
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age', 'pet']) #将字典中的列表转换为DataFrame
print(siblings)
data = pd.read_json('examples/example.json') #从JSON文件读取数据
print(data)
print(data.to_json()) #将DataFrame转换为JSON字符串
print(data.to_json(orient='records')) #将DataFrame转换为JSON字符串，按记录格式

{'name': 'Wes', 'places_lived': ['United States', 'Spain', 'Germany'], 'pet': None, 'siblings': [{'name': 'Scott', 'age': 30, 'pet': 'Zuko'}, {'name': 'Katie', 'age': 38, 'pet': 'Cisco'}]}
{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pet": "Zuko"}, {"name": "Katie", "age": 38, "pet": "Cisco"}]}
    name  age    pet
0  Scott   30   Zuko
1  Katie   38  Cisco
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

### XML和HTML：网络抓取

In [56]:
tables = pd.read_html('examples/fdic_failed_bank_list.html') #从HTML文件中提取所有表格
print(len(tables)) #返回一个列表，包含所有提取的表格
failures = tables[0]
print(failures.head()) #显示第一个表格的前5行
close_dates = pd.to_datetime(failures['Closing Date']) #将字符串转换为日期时间格式
print(close_dates.dt.year.value_counts()) #统计每年关闭的银行数量
print(failures['City'].value_counts()) #统计每个城市关闭的银行数量

1
                      Bank Name             City  ST   CERT  \
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

                 Acquiring Institution        Closing Date       Updated Date
0                         Today's Bank  September 23, 2016  November 17, 2016
1                          United Bank     August 19, 2016  November 17, 2016
2  First-Citizens Bank & Trust Company         May 6, 2016  September 6, 2016
3           The Bank of Fayette County      April 29, 2016  September 6, 2016
4  First-Citizens Bank & Trust Company      March 11, 2016      June 16, 2016
Closing Date
2010    157
2009    140
2011     92
2012     51
2008     25
       ...
2004      4
2001      4
2007      3
2003      3
2000      2
Name: count, Length: 15, dtype: int64
City
Chicago            18
Atlanta            10
Phoenix             6
Naples              5
Miami               4
                   ..
Clarkesville        1
Napa                1
San Luis Obispo     1
St. Charles         1
Honolulu            1
Name: count, Length: 421, dtype: int64

#### 使用ixml.objectify解析XML

In [57]:
#待补充

## 二进制格式

In [58]:
frame = pd.read_csv('examples/ex1.csv')
print(frame)
frame.to_pickle('examples/frame_pickle') #将DataFrame存储为pickle格式的文件
pd.read_pickle('examples/frame_pickle') #从pickle格式的文件读取DataFrame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

### 使用HDF5格式

In [59]:
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5') #创建HDF5文件
store['obj1'] = frame #将DataFrame存储为HDF5格式
print(store['obj1']) #从HDF5文件读取DataFrame
store['obj1_col'] = frame['a'] #将DataFrame的一列存储为HDF5格式
print(store['obj1_col']) #从HDF5文件读取DataFrame的一列
print(store) #显示HDF5文件中的所有对象
store.close() #关闭HDF5文件

           a
0  -0.501809
1  -2.468277
2  -1.097029
3   1.083563
4  -1.473387
..       ...
95  1.902708
96 -0.432740
97  0.855250
98  0.168788
99 -0.096917

[100 rows x 1 columns]
0    -0.501809
1    -2.468277
2    -1.097029
3     1.083563
4    -1.473387
        ...
95    1.902708
96   -0.432740
97    0.855250
98    0.168788
99   -0.096917
Name: a, Length: 100, dtype: float64
<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

### 读取Excel文件

In [60]:
xlsx = pd.ExcelFile('examples/ex1.xlsx') #读取Excel文件
print(xlsx.sheet_names) #显示所有工作表的名称
print(pd.read_excel(xlsx, 'Sheet1')) #读取指定工作表
frame = pd.read_excel('examples/ex1.xlsx', 'Sheet1') #直接读取指定工作表
print(frame)
writer = pd.ExcelWriter('examples/ex2.xlsx') #创建Excel写入对象
frame.to_excel(writer, 'Sheet1') #将DataFrame写入指定工作表
with pd.ExcelWriter('examples/ex2.xlsx') as writer:
    frame.to_excel(writer, sheet_name='Sheet1', index=False)
# 离开 with 块时自动保存并关闭
frame.to_excel('examples/ex2.xlsx')

['Sheet1']
   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo
   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

/tmp/ipykernel_1860/851877596.py:7: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  frame.to_excel(writer, 'Sheet1') #将DataFrame写入指定工作表

## 与Web API交互

In [61]:
import requests

url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url) #发送GET请求
print(resp) #显示响应状态码
data = resp.json() #将响应内容解析为JSON格式
print(data[0]['title']) #显示第一个问题的标题
issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state']) #将JSON数据转换为DataFrame
print(issues) #显示DataFrame

<Response [200]>
BUG: use `make altinstall` in debug Dockerfile to avoid overwriting system python3
    number                                              title  \
0    62272  BUG: use `make altinstall` in debug Dockerfile...
1    62271  ERR: Improve error message for deprecated freq...
2    62270  CLN: Enforce deprecation of PeriodIndex in res...
3    62269                 CLN: Apply ruff format to scripts/
4    62268  ENH: Make ExtensionDtype.numpy_dtype part of t...
..     ...                                                ...
25   62232  DEPR: Remove special date-datetime64 case in i...
26   62227  BUG: rank with object dtype and small values #...
27   62226  fix : include datatype in memo key in sanitiza...
28   62225  DOC: Fix linkcode_resolve for inherited proper...
29   62222  Remove custom footer template in favor of them...

                                               labels state
0                                                  []  open
1                                                  []  open
2                                                  []  open
3   [{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...  open
4   [{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...  open
..                                                ...   ...
25                                                 []  open
26                                                 []  open
27                                                 []  open
28                                                 []  open
29                                                 []  open

[30 rows x 4 columns]

## 与数据库交互

In [66]:
import sqlite3
query = """CREATE TABLE test (a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);
INSERT INTO test VALUES ('one', 'two', 3.0, 4);
INSERT INTO test VALUES ('five', 'six', 7.0, 8);
INSERT INTO test VALUES ('nine', 'ten', 11.0, 12);
"""
con = sqlite3.connect(':memory:') #创建内存中的SQLite数据库
con.executescript(query) #执行多条SQL语句
con.commit() #提交事务
data = [('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3), ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES (?, ?, ?, ?)"
con.executemany(stmt, data) #执行多条SQL语句
con.commit() #提交事务
cursor = con.execute('select * from test') #执行查询语句
rows = cursor.fetchall() #获取所有查询结果
print(rows)
print(cursor.description) #显示查询结果的列信息
print(pd.DataFrame(rows, columns=[x[0] for x in cursor.description])) #将查询结果转换为DataFrame
import sqlalchemy as sqlal
db = sqlal.create_engine('sqlite:///:mydata.sqlite') #创建内存中的SQLite数据库

[('one', 'two', 3.0, 4), ('five', 'six', 7.0, 8), ('nine', 'ten', 11.0, 12), ('Atlanta', 'Georgia', 1.25, 6), ('Tallahassee', 'Florida', 2.6, 3), ('Sacramento', 'California', 1.7, 5)]
(('a', None, None, None, None, None, None), ('b', None, None, None, None, None, None), ('c', None, None, None, None, None, None), ('d', None, None, None, None, None, None))
             a           b      c   d
0          one         two   3.00   4
1         five         six   7.00   8
2         nine         ten  11.00  12
3      Atlanta     Georgia   1.25   6
4  Tallahassee     Florida   2.60   3
5   Sacramento  California   1.70   5