In [2]:
import pandas as pd
import numpy as np

## 处理缺失值

In [3]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
print(string_data)
print(string_data.isnull())
string_data[0] = None
print(string_data.isnull())

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object
0    False
1    False
2     True
3    False
dtype: bool
0     True
1    False
2     True
3    False
dtype: bool

### 过滤缺失值

In [4]:
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
print(data)
print(data.dropna())
print(data[data.notnull()])

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64
0    1.0
2    3.5
4    7.0
dtype: float64
0    1.0
2    3.5
4    7.0
dtype: float64

In [5]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
print(data)
print(cleaned)
print(data.dropna(how='all'))
data[4] = NA
print(data)
print(data.dropna(axis=1, how='all'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0
     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [6]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
print(df)
print(df.dropna())
print(df.dropna(thresh=2)) # 至少有两个非NA值的行

          0         1         2
0  1.343911       NaN       NaN
1  1.451770       NaN       NaN
2 -0.860475       NaN -1.287726
3 -0.916649       NaN -1.055583
4  0.259612 -0.656542 -0.755572
5  0.696258 -0.032249 -1.142136
6  0.194099 -2.075901 -0.971023
          0         1         2
4  0.259612 -0.656542 -0.755572
5  0.696258 -0.032249 -1.142136
6  0.194099 -2.075901 -0.971023
          0         1         2
2 -0.860475       NaN -1.287726
3 -0.916649       NaN -1.055583
4  0.259612 -0.656542 -0.755572
5  0.696258 -0.032249 -1.142136
6  0.194099 -2.075901 -0.971023

### 补全缺失值

In [7]:
print(df.fillna(0)) # 用0填充NA值
print(df.fillna({1: 0.5, 2: 0})) # 用不同的值填充不同的列

          0         1         2
0  1.343911  0.000000  0.000000
1  1.451770  0.000000  0.000000
2 -0.860475  0.000000 -1.287726
3 -0.916649  0.000000 -1.055583
4  0.259612 -0.656542 -0.755572
5  0.696258 -0.032249 -1.142136
6  0.194099 -2.075901 -0.971023
          0         1         2
0  1.343911  0.500000  0.000000
1  1.451770  0.500000  0.000000
2 -0.860475  0.500000 -1.287726
3 -0.916649  0.500000 -1.055583
4  0.259612 -0.656542 -0.755572
5  0.696258 -0.032249 -1.142136
6  0.194099 -2.075901 -0.971023

In [8]:
_ = df.fillna(0, inplace=True)
print(df) # 原地修改

          0         1         2
0  1.343911  0.000000  0.000000
1  1.451770  0.000000  0.000000
2 -0.860475  0.000000 -1.287726
3 -0.916649  0.000000 -1.055583
4  0.259612 -0.656542 -0.755572
5  0.696258 -0.032249 -1.142136
6  0.194099 -2.075901 -0.971023

In [9]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
print(df)
print(df.fillna(method='ffill')) # 向前填充
print(df.fillna(method='ffill', limit=2)) # 最多填充两个
data = pd.Series([1., NA, 3.5, NA, 7])
print(data.fillna(data.mean())) # 用均值填充

          0         1         2
0 -1.354473 -0.821064  0.900442
1  1.126467 -0.429562 -0.673827
2  0.286185       NaN -0.386513
3 -0.809197       NaN -0.011802
4  0.133198       NaN       NaN
5  0.050668       NaN       NaN
          0         1         2
0 -1.354473 -0.821064  0.900442
1  1.126467 -0.429562 -0.673827
2  0.286185 -0.429562 -0.386513
3 -0.809197 -0.429562 -0.011802
4  0.133198 -0.429562 -0.011802
5  0.050668 -0.429562 -0.011802
          0         1         2
0 -1.354473 -0.821064  0.900442
1  1.126467 -0.429562 -0.673827
2  0.286185 -0.429562 -0.386513
3 -0.809197 -0.429562 -0.011802
4  0.133198       NaN -0.011802
5  0.050668       NaN -0.011802
0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

/tmp/ipykernel_1926/47257907.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill')) # 向前填充
/tmp/ipykernel_1926/47257907.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill', limit=2)) # 最多填充两个

## 数据转换

### 删除重复值

In [10]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'], 'k2': [1, 1, 2, 3, 3, 4, 4]})
print(data)
print(data.duplicated()) # 标记重复行
print(data.drop_duplicates()) # 删除重复行

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4
0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool
    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [12]:
data['v1'] = range(7)
print(data.drop_duplicates(['k1'])) # 根据某列删除重复行
print(data.drop_duplicates(['k1', 'k2'])) # 根据多列删除重复行
print(data.drop_duplicates(['k1', 'k2'], keep='last')) # 保留最后一个重复行

    k1  k2  v1
0  one   1   0
1  two   1   1
    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### 使用函数或映射进行数据转换

In [13]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami', 'corned beef', 'Bacon',
						  'pastrami', 'honey ham', 'nova lox'],
						 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
print(data)

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [14]:
meat_to_animal = {
	'bacon': 'pig',
	'pulled pork': 'pig',
	'pastrami': 'cow',
	'corned beef': 'cow',
	'honey ham': 'pig',
	'nova lox': 'salmon'
}
lowercased = data['food'].str.lower() # 转小写
print(lowercased)
data['animal'] = lowercased.map(meat_to_animal) # 映射
print(data)
data['food'].map(lambda x: meat_to_animal[x.lower()]) # 用函数映射

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object
          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

### 替代值

In [17]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
print(data)
print(data.replace(-999, np.nan)) # 替换-999为NA
print(data.replace([-999, -1000], np.nan)) # 替换多个值
print(data.replace([-999, -1000], [np.nan, 0])) # 分别替换多个值
print(data.replace({-999: np.nan, -1000: 0})) # 用字典替换

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64
0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64
0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64
0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64
0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### 重命名轴索引

In [20]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
					index=['Ohio', 'Colorado', 'New York'],
					columns=['one', 'two', 'three', 'four'])
transform = lambda x: x[:4].upper()
print(data.index.map(transform)) # 对索引应用函数
data.index = data.index.map(transform) # 重命名索引
print(data)
print(data.rename(index=str.title, columns=str.upper)) # 创建数据集转换后的版本，不修改原数据
print(data.rename(index={'OHIO': 'INDIANA'}, columns={'three': 'peekaboo'})) # 重命名部分行和列
data.rename(index={'OHIO': 'INDIANA'}, inplace=True) # 原地修改
print(data)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')
      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11
      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11
         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11
         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

### 离散化和分箱