In [3]:
import pandas as pd
import numpy as np

## 处理缺失值

In [4]:
string_data = pd.Series(['aardvark', 'artichoke', np.nan, 'avocado'])
print(string_data)
print(string_data.isnull())
string_data[0] = None
print(string_data.isnull())

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object
0    False
1    False
2     True
3    False
dtype: bool
0     True
1    False
2     True
3    False
dtype: bool

### 过滤缺失值

In [5]:
from numpy import nan as NA
data = pd.Series([1, NA, 3.5, NA, 7])
print(data)
print(data.dropna())
print(data[data.notnull()])

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64
0    1.0
2    3.5
4    7.0
dtype: float64
0    1.0
2    3.5
4    7.0
dtype: float64

In [6]:
data = pd.DataFrame([[1., 6.5, 3.], [1., NA, NA], [NA, NA, NA], [NA, 6.5, 3.]])
cleaned = data.dropna()
print(data)
print(cleaned)
print(data.dropna(how='all'))
data[4] = NA
print(data)
print(data.dropna(axis=1, how='all'))

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0
     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN
     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [7]:
df = pd.DataFrame(np.random.randn(7, 3))
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
print(df)
print(df.dropna())
print(df.dropna(thresh=2)) # 至少有两个非NA值的行

          0         1         2
0  2.543237       NaN       NaN
1 -1.079833       NaN       NaN
2 -0.713880       NaN -0.220922
3  0.341867       NaN -1.092182
4  0.566851 -0.975282 -0.231784
5 -0.519598 -1.385690 -0.864309
6 -0.445222 -1.738848 -1.062934
          0         1         2
4  0.566851 -0.975282 -0.231784
5 -0.519598 -1.385690 -0.864309
6 -0.445222 -1.738848 -1.062934
          0         1         2
2 -0.713880       NaN -0.220922
3  0.341867       NaN -1.092182
4  0.566851 -0.975282 -0.231784
5 -0.519598 -1.385690 -0.864309
6 -0.445222 -1.738848 -1.062934

### 补全缺失值

In [8]:
print(df.fillna(0)) # 用0填充NA值
print(df.fillna({1: 0.5, 2: 0})) # 用不同的值填充不同的列

          0         1         2
0  2.543237  0.000000  0.000000
1 -1.079833  0.000000  0.000000
2 -0.713880  0.000000 -0.220922
3  0.341867  0.000000 -1.092182
4  0.566851 -0.975282 -0.231784
5 -0.519598 -1.385690 -0.864309
6 -0.445222 -1.738848 -1.062934
          0         1         2
0  2.543237  0.500000  0.000000
1 -1.079833  0.500000  0.000000
2 -0.713880  0.500000 -0.220922
3  0.341867  0.500000 -1.092182
4  0.566851 -0.975282 -0.231784
5 -0.519598 -1.385690 -0.864309
6 -0.445222 -1.738848 -1.062934

In [9]:
_ = df.fillna(0, inplace=True)
print(df) # 原地修改

          0         1         2
0  2.543237  0.000000  0.000000
1 -1.079833  0.000000  0.000000
2 -0.713880  0.000000 -0.220922
3  0.341867  0.000000 -1.092182
4  0.566851 -0.975282 -0.231784
5 -0.519598 -1.385690 -0.864309
6 -0.445222 -1.738848 -1.062934

In [10]:
df = pd.DataFrame(np.random.randn(6, 3))
df.iloc[2:, 1] = NA
df.iloc[4:, 2] = NA
print(df)
print(df.fillna(method='ffill')) # 向前填充
print(df.fillna(method='ffill', limit=2)) # 最多填充两个
data = pd.Series([1., NA, 3.5, NA, 7])
print(data.fillna(data.mean())) # 用均值填充

          0        1         2
0  0.597050  0.35625 -1.012544
1 -1.000398 -1.43192 -0.564352
2 -2.061784      NaN -0.741855
3 -0.475321      NaN  1.534026
4  0.284599      NaN       NaN
5 -0.854206      NaN       NaN
          0        1         2
0  0.597050  0.35625 -1.012544
1 -1.000398 -1.43192 -0.564352
2 -2.061784 -1.43192 -0.741855
3 -0.475321 -1.43192  1.534026
4  0.284599 -1.43192  1.534026
5 -0.854206 -1.43192  1.534026
          0        1         2
0  0.597050  0.35625 -1.012544
1 -1.000398 -1.43192 -0.564352
2 -2.061784 -1.43192 -0.741855
3 -0.475321 -1.43192  1.534026
4  0.284599      NaN  1.534026
5 -0.854206      NaN  1.534026
0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

/tmp/ipykernel_1454/47257907.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill')) # 向前填充
/tmp/ipykernel_1454/47257907.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill', limit=2)) # 最多填充两个

## 数据转换

### 删除重复值

In [11]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'], 'k2': [1, 1, 2, 3, 3, 4, 4]})
print(data)
print(data.duplicated()) # 标记重复行
print(data.drop_duplicates()) # 删除重复行

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4
0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool
    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [12]:
data['v1'] = range(7)
print(data.drop_duplicates(['k1'])) # 根据某列删除重复行
print(data.drop_duplicates(['k1', 'k2'])) # 根据多列删除重复行
print(data.drop_duplicates(['k1', 'k2'], keep='last')) # 保留最后一个重复行

    k1  k2  v1
0  one   1   0
1  two   1   1
    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
5  two   4   5
    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

### 使用函数或映射进行数据转换

In [13]:
data = pd.DataFrame({'food': ['bacon', 'pulled pork', 'bacon', 'Pastrami', 'corned beef', 'Bacon',
						  'pastrami', 'honey ham', 'nova lox'],
						 'ounces': [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
print(data)

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     Pastrami     6.0
4  corned beef     7.5
5        Bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [14]:
meat_to_animal = {
	'bacon': 'pig',
	'pulled pork': 'pig',
	'pastrami': 'cow',
	'corned beef': 'cow',
	'honey ham': 'pig',
	'nova lox': 'salmon'
}
lowercased = data['food'].str.lower() # 转小写
print(lowercased)
data['animal'] = lowercased.map(meat_to_animal) # 映射
print(data)
data['food'].map(lambda x: meat_to_animal[x.lower()]) # 用函数映射

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object
          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

### 替代值

In [15]:
data = pd.Series([1., -999., 2., -999., -1000., 3.])
print(data)
print(data.replace(-999, np.nan)) # 替换-999为NA
print(data.replace([-999, -1000], np.nan)) # 替换多个值
print(data.replace([-999, -1000], [np.nan, 0])) # 分别替换多个值
print(data.replace({-999: np.nan, -1000: 0})) # 用字典替换

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64
0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64
0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64
0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64
0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

### 重命名轴索引

In [16]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
					index=['Ohio', 'Colorado', 'New York'],
					columns=['one', 'two', 'three', 'four'])
transform = lambda x: x[:4].upper()
print(data.index.map(transform)) # 对索引应用函数
data.index = data.index.map(transform) # 重命名索引
print(data)
print(data.rename(index=str.title, columns=str.upper)) # 创建数据集转换后的版本，不修改原数据
print(data.rename(index={'OHIO': 'INDIANA'}, columns={'three': 'peekaboo'})) # 重命名部分行和列
data.rename(index={'OHIO': 'INDIANA'}, inplace=True) # 原地修改
print(data)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')
      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11
      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11
         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11
         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

### 离散化和分箱

In [17]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
bins = [18, 25, 35, 60, 100]
cats = pd.cut(ages, bins) # 分箱
print(cats)

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [18]:
print(cats.codes) # 每个值对应的箱子
print(cats.categories) # 箱子区间
print(pd.value_counts(cats)) # 每个箱子中的值的数量

[0 0 0 1 0 0 2 1 3 2 2 1]
IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')
(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
Name: count, dtype: int64

/tmp/ipykernel_1454/3800502597.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(cats)) # 每个箱子中的值的数量

In [19]:
print(pd.cut(ages, [18, 26, 36, 61, 100], right=False)) # 左闭右开
group_names = ['Youth', 'YoungAdult', 'MiddleAged', 'Senior']
group = pd.cut(ages, bins, labels=group_names) # 分箱并命名
print(group)

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]
['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

In [20]:
data = np.random.rand(20)
print(pd.cut(data, 4, precision=2)) # 分成4个等宽箱，并设置小数点精度

[(0.28, 0.51], (0.51, 0.75], (0.28, 0.51], (0.041, 0.28], (0.041, 0.28], ..., (0.75, 0.99], (0.041, 0.28], (0.75, 0.99], (0.51, 0.75], (0.041, 0.28]]
Length: 20
Categories (4, interval[float64, right]): [(0.041, 0.28] < (0.28, 0.51] < (0.51, 0.75] < (0.75, 0.99]]

In [21]:
data = np.random.randn(1000)
cats = pd.qcut(data, 4) # 分位数分箱
print(cats)
print(pd.value_counts(cats))

[(0.686, 3.727], (-0.0112, 0.686], (-0.703, -0.0112], (-0.0112, 0.686], (-3.609, -0.703], ..., (-0.0112, 0.686], (-0.703, -0.0112], (-0.703, -0.0112], (-3.609, -0.703], (-0.703, -0.0112]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.609, -0.703] < (-0.703, -0.0112] < (-0.0112, 0.686] < (0.686, 3.727]]
(-3.609, -0.703]     250
(-0.703, -0.0112]    250
(-0.0112, 0.686]     250
(0.686, 3.727]       250
Name: count, dtype: int64

/tmp/ipykernel_1454/2283453662.py:4: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print(pd.value_counts(cats))

In [22]:
print(pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.])) # 指定分位数边界

[(-0.0112, 1.386], (-0.0112, 1.386], (-1.292, -0.0112], (-0.0112, 1.386], (-3.609, -1.292], ..., (-0.0112, 1.386], (-1.292, -0.0112], (-1.292, -0.0112], (-1.292, -0.0112], (-1.292, -0.0112]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.609, -1.292] < (-1.292, -0.0112] < (-0.0112, 1.386] < (1.386, 3.727]]

### 检测和过滤异常值

In [23]:
data = pd.DataFrame(np.random.randn(1000, 4))
print(data.describe()) # 统计汇总

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.042461     0.000288     0.014000    -0.005518
std       0.958596     0.993244     1.011492     0.983692
min      -2.934752    -3.223137    -3.626758    -3.516472
25%      -0.710026    -0.693996    -0.646431    -0.672141
50%      -0.054174     0.016981     0.017097    -0.008659
75%       0.592940     0.660169     0.673854     0.700765
max       3.015893     3.275185     2.765506     2.772403

In [24]:
col = data[2]
print(col[np.abs(col) > 3]) # 绝对值大于3的值
print(data[(np.abs(data) > 3).any(axis=1)]) # 任一列绝对值大于3的行
data[np.abs(data) > 3] = np.sign(data) * 3 # 将绝对值大于3的值设为±3
print(data.describe())
print(np.sign(data).head()) # 每个值的符号

553   -3.626758
702   -3.381316
856   -3.016003
Name: 2, dtype: float64
            0         1         2         3
206 -0.132839  3.275185  0.280842  0.090555
432 -0.297675 -0.954030  0.000638 -3.382318
468  0.909507 -0.649582  1.554405 -3.516472
553  1.418487  0.288423 -3.626758 -0.303282
702 -0.046808  0.154816 -3.381316 -0.076797
715 -1.006807 -3.223137 -0.553369 -0.989707
788  0.545581  3.263751 -1.163162 -2.334223
856 -2.094900 -1.016688 -3.016003 -1.725434
878  3.015893  0.865056 -0.332413 -0.403888
908  0.927482 -3.103563  0.376485  0.590235
                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.042477     0.000076     0.015024    -0.004620
std       0.958545     0.990519     1.008165     0.980738
min      -2.934752    -3.000000    -3.000000    -3.000000
25%      -0.710026    -0.693996    -0.646431    -0.672141
50%      -0.054174     0.016981     0.017097    -0.008659
75%       0.592940     0.660169     0.673854     0.700765
max       3.000000     3.000000     2.765506     2.772403
     0    1    2    3
0 -1.0 -1.0 -1.0 -1.0
1 -1.0 -1.0 -1.0  1.0
2 -1.0  1.0 -1.0  1.0
3 -1.0  1.0  1.0  1.0
4  1.0 -1.0  1.0  1.0

### 置换和随机抽样

In [25]:
df = pd.DataFrame(np.arange(20).reshape((5, 4)))
sampler = np.random.permutation(5) # 随机置换列索引
print(sampler)

[3 2 1 0 4]

In [26]:
print(df)

print(df.take(sampler)) # 按照置换后的索引选取行
print(df.sample(n=3)) # 随机抽取3行

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
    0   1   2   3
3  12  13  14  15
2   8   9  10  11
1   4   5   6   7
0   0   1   2   3
4  16  17  18  19
    0   1   2   3
4  16  17  18  19
0   0   1   2   3
2   8   9  10  11

In [27]:
choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True) # 有放回抽样
print(draws)

3    6
2   -1
1    7
2   -1
0    5
1    7
3    6
2   -1
2   -1
1    7
dtype: int64

### 计算指标/虚拟变量

In [28]:
df = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'], 'data1': range(6)})
print(df)

print(pd.get_dummies(df['key'])) # 计算虚拟变量

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5
       a      b      c
0  False   True  False
1  False   True  False
2   True  False  False
3  False  False   True
4   True  False  False
5  False   True  False

In [29]:
dummies = pd.get_dummies(df['key'], prefix='key') # 添加前缀
print(dummies)
df_with_dummy = df[['data1']].join(dummies) # 将虚拟变量加入原数据
print(df_with_dummy)

   key_a  key_b  key_c
0  False   True  False
1  False   True  False
2   True  False  False
3  False  False   True
4   True  False  False
5  False   True  False
   data1  key_a  key_b  key_c
0      0  False   True  False
1      1  False   True  False
2      2   True  False  False
3      3  False  False   True
4      4   True  False  False
5      5  False   True  False

In [30]:
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('datasets/movielens/movies.dat', sep='::', header=None, names=mnames)
print(movies[:10])

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

/tmp/ipykernel_1454/1141379620.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('datasets/movielens/movies.dat', sep='::', header=None, names=mnames)

In [31]:
all_genres = []
for x in movies.genres:
	all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
print(genres)

['Animation' "Children's" 'Comedy' 'Adventure' 'Fantasy' 'Romance' 'Drama'
 'Action' 'Crime' 'Thriller' 'Horror' 'Sci-Fi' 'Documentary' 'War'
 'Musical' 'Mystery' 'Film-Noir' 'Western']

/tmp/ipykernel_1454/287662216.py:4: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  genres = pd.unique(all_genres)

In [32]:
zero_matrix = np.zeros((len(movies), len(genres)))
dummies = pd.DataFrame(zero_matrix, columns=genres)
gen = movies.genres[0]
print(gen.split('|'))
print(dummies.columns.get_indexer(gen.split('|')))

['Animation', "Children's", 'Comedy']
[0 1 2]

In [33]:
for i, gen in enumerate(movies.genres):
	indices = dummies.columns.get_indexer(gen.split('|'))
	dummies.iloc[i, indices] = 1
movies_windic = movies.join(dummies.add_prefix('Genre_'))
print(movies_windic.iloc[0])

movie_id                                       1
title                           Toy Story (1995)
genres               Animation|Children's|Comedy
Genre_Animation                              1.0
Genre_Children's                             1.0
Genre_Comedy                                 1.0
Genre_Adventure                              0.0
Genre_Fantasy                                0.0
Genre_Romance                                0.0
Genre_Drama                                  0.0
Genre_Action                                 0.0
Genre_Crime                                  0.0
Genre_Thriller                               0.0
Genre_Horror                                 0.0
Genre_Sci-Fi                                 0.0
Genre_Documentary                            0.0
Genre_War                                    0.0
Genre_Musical                                0.0
Genre_Mystery                                0.0
Genre_Film-Noir                              0.0
Genre_Western                                0.0
Name: 0, dtype: object

In [34]:
np.random.seed(12345)
values = np.random.rand(10)
print(values)
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
print(pd.get_dummies(pd.cut(values, bins)))

[0.92961609 0.31637555 0.18391881 0.20456028 0.56772503 0.5955447
 0.96451452 0.6531771  0.74890664 0.65356987]
   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0       False       False       False       False        True
1       False        True       False       False       False
2        True       False       False       False       False
3       False        True       False       False       False
4       False       False        True       False       False
5       False       False        True       False       False
6       False       False       False       False        True
7       False       False       False        True       False
8       False       False       False        True       False
9       False       False       False        True       False

## 字符串操作

### 字符串对象方法

In [35]:
val = 'a,b,   guido'
val.split(',')

['a', 'b', '   guido']

In [36]:
pieces = [x.strip() for x in val.split(',')]
print(pieces) #清除空格和换行
first, second, third = pieces
print(first + '::' + second + '::' + third)
print('::'.join(pieces))

['a', 'b', 'guido']
a::b::guido
a::b::guido

In [37]:
print('guido' in val)
print(val.index(',')) #val.index(':')会报错
print(val.find(':'))

True
1
-1

In [38]:
print(val.count(','))
print(val.replace(',', '::'))
print(val.replace(',', ''))

2
a::b::   guido
ab   guido

### 正则表达式

In [39]:
import re

In [40]:
text = 'foo    bar\t baz  \tqux'
print(re.split('\s+', text))

['foo', 'bar', 'baz', 'qux']

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_1454/3947689210.py:2: SyntaxWarning: invalid escape sequence '\s'
  print(re.split('\s+', text))

In [41]:
regex = re.compile('\s+')
print(regex.split(text))
print(regex.findall(text)) #未完成

['foo', 'bar', 'baz', 'qux']
['    ', '\t ', '  \t']

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipykernel_1454/3159715678.py:1: SyntaxWarning: invalid escape sequence '\s'
  regex = re.compile('\s+')

### pandas中的向量化字符串函数

In [42]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com', 'Rob': 'rob@gmail.com', 'Wes': np.nan}
data = pd.Series(data)
print(data)

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [43]:
print(data.isnull) #未完成

<bound method Series.isnull of Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object>