## 分层索引

In [10]:
import pandas as pd
import numpy as np

In [11]:
data = pd.Series(np.random.randn(9), index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], [1, 2, 3, 1, 3, 1, 2, 2, 3]])
print(data)
print(data.index)

a  1   -1.807095
   2   -1.092200
   3    0.711365
b  1    1.657812
   3   -0.931954
c  1    1.346428
   2    0.405380
d  2    0.166638
   3    0.064300
dtype: float64
MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [12]:
print(data['b':'c'])
print(data.loc[['b', 'c']])
print(data.loc[:, 2])
print(data.unstack())

b  1    1.657812
   3   -0.931954
c  1    1.346428
   2    0.405380
dtype: float64
b  1    1.657812
   3   -0.931954
c  1    1.346428
   2    0.405380
dtype: float64
a   -1.092200
c    0.405380
d    0.166638
dtype: float64
          1         2         3
a -1.807095 -1.092200  0.711365
b  1.657812       NaN -0.931954
c  1.346428  0.405380       NaN
d       NaN  0.166638  0.064300

In [13]:
print(data.unstack().stack())

a  1   -1.807095
   2   -1.092200
   3    0.711365
b  1    1.657812
   3   -0.931954
c  1    1.346428
   2    0.405380
d  2    0.166638
   3    0.064300
dtype: float64

In [15]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)), index=[['a', 'a', 'b', 'b'],[1, 2, 1, 2]], columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
print(frame)

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [18]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
print(frame)
print(frame['Ohio'])

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11
color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

### 重排序和层级排序